<div class="h-full w-full grid text-dark_slate_gray box" [ngClass]="{'grid-rows-2': isPlay, 'place-items-center': !isPlay}">
  @if (isPlay) {
  <div class="self-end">
    <p class="text-5xl font-semibold text-center slide-left" *ngIf="isPlay">Hello</p>
    <p class="text-8xl font-semibold text-center slide-right" *ngIf="isPlay">Love</p>
  </div>
  <div class="w-full px-4 md:w-1/2 lg:w-1/3 self-start">
    @if (showSunshineForm) {
    <div class="mb-12 flex flex-col font-bold items-center puff-in-center">
      <label for="" class="mb-[10px] block text-2xl text-center font-medium text-dark dark:text-white">
        You are my?
      </label>
      <input type="text" placeholder="mhm...I am yours?" [(ngModel)]="youAreMy"
        class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2 disabled:border-gray-2" />
      <button class="text-center text-2xl mt-4 border-dark border rounded-full w-fit px-4 py-2" (click)="onGoAhead()">
        Go ahead ❤️
      </button>
    </div>
    }
  </div>
  } @else {
  <img src="./assets/play.svg" alt="play_icon" class="h-48  cursor-pointer jello-horizontal" (click)="toogleIsPlay()">
  }
</div>