<div
  class="h-full p-4 text-3xl font-semibold text-center grid grid-rows-[1fr_100px] place-items-center"
>
@if (showTextBox) {
  <p
    class="p-4 glass opacity-0"
    *ngIf="showTextBox"
    [class.flip-in-diag-1-bl]="animate"
    [class.flip-out-diag-1-bl]="!animate"
    [innerHTML]="textData[textIndex]"
  >
  </p>
  @if (!(textIndex === textData.length - 1)) {
    <button
      class="text-center text-2xl mt-4 border-dark border rounded-full w-fit px-4 py-2" [class.flip-in-diag-1-bl]="showTextBox"
      (click)="onGoAheadClick()"
    >
      Go ahead ❤️
    </button>
  }
}
</div>
