/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./assets/animations.scss";

body {
  height: 100dvh;
  width: 100dvw;
  padding: 1rem;
  font-family: "Cormorant Garamond", serif;
  background-color: #e9d6ec;
}

.box {
  --mask: linear-gradient(#000 0 0) 50% / calc(100% - 55.5px)
      calc(100% - 55.5px) no-repeat,
    radial-gradient(farthest-side, #000 98%, #0000) 0 0/60px 60px round;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
