/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./assets/animations.scss";

body {
  height: 100dvh;
  width: 100dvw;
  padding: 1rem;
  font-family: "Cormorant Garamond", serif;
  background-color: #e9d6ec;
}